body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  height: 470px;
  /* width: 1200px; */
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.5);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  margin-top: 10px;
  border-radius: 4px;
}

.secret-button {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  padding: 6px 12px;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.secret-button button {
  width: 36px;
  height: 36px;
  background: transparent;
  border: none !important;
  font-size:0;
}

.test-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 500px;
  margin-right: 500px;
}

.label-mapbox {
  background-color: #212529;
  display: block;
    padding: 10px;
    margin: 0px;
}

.bg-mapbox {
  background-color: #212529;
}

.mapbox-form {
 background-color: white;
}