# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env

# Client Dependency directory
/client/node_modules

# production
/build